body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

.header {
  background-image: url("./resources/images/the-flatiron-building.png");
  background-size: cover;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  color: white;
  font-weight: bold;
  font-size: 23px;
  background-image: url("./resources/images/the-flatiron-building.png");
  background-size: cover;
}

p {
  font-size: 14px;
}

#copyright {
  font-size: 11px;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}
